#cau_hoi,
#dap_an {
    text-align: justify;
}

#cau_hoi {
    font-size: 20px;
}

#cau_hoi strong {
    font-size: 23px;
}

#dap_an {
    font-size: 18px;
}

#cau_hoi .item,
#dap_an .item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 20px 15px;
}

#dap_an .item {
    margin-top: 12px;
    cursor: pointer;
    padding: 10px 15px;
}

#dap_an .item-select {
    border: 2px solid #ffc107;
}

#dap_an .item-right {
    border: 2px solid #4caf50;
}

#dap_an .item-wrong {
    border: 2px solid #f44336;
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.load .fa-loader {
    width: 50px;
    height: 50px;
}

.load .fa-loader i {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
}

/* icon quay */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.load .fa-loader i.fa-spinner {
    animation: spin 2s linear infinite;
}

.hidden {
    display: none;
}

#tra_loi {
    width: fit-content;
    padding: 10px 30px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}