.card-body {
    text-decoration: none;
    color: black;
}

.card-body:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.2s ease-out;
}
